:root {
--black: #00252E;
--pink: #FF52C1;
--skyblue: #F6FBFF;
--dark: #00252E;
}

*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--black);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container { 
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container { 
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container { 
        width: 1170px;
    }
}


.header { 
}
.header__links { 
    padding-top: 24px;
    padding-left:80px;
    padding-right: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .header__links { 
        padding: 24px 24px 0;
    }
}
 
.header__icon {

}

.header__icon img {

}

@media (max-width: 480px) {
    .header__icon img {
        height: 16px;
    }
}

.header__btn:link {
color: var(--pink);
text-decoration: none;
display: block;
justify-content: center;
align-items: center;
border: 1px solid var(--pink);
border-radius: 26px;
font-size: 16px;
padding: 9px 30px; 
cursor: pointer;
transition: .3s;
}

@media (max-width: 480px) {
    .header__btn:link {
        padding: 12px 40px;
        font-size: 10px;
        border-radius: 26px;

    }
}

.header__btn:hover {
    background-color: var(--pink);
    color: #fff;
}

.header__head {
  margin-top: 225px;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  text-align: center;
}



.header__paragraph { 
   font-size: 20px;
   text-align: center;
   line-height: 30px;
   font-weight: 400;
   width: 600px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 49px;
}


.btn__container {
    width: 100%;
    text-align: center;
}


.btn {
  display: inline-block;
  padding: 25px 99px;
  background-color: var(--pink);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 40px;
}


.btn:active {
    background-color:#FF8ED7;;
}

@media (max-width: 1200px) {
    .header__head { 
        font-size: 40px;
    }

    .header__paragraph { 
        font-size: 18px;
        width: 600px;
        margin-bottom: 35px;
     }
} 


@media (max-width: 992px) {
    .header__head { 
        font-size: 30px;
        margin-top: 150px;
    }

    .header__paragraph { 
        font-size: 16px;
        width: 600px;
        margin-bottom: 35px;
     }

     .btn {
         font-size: 18px;
         padding: 15px 60px;
     }
} 

@media (max-width: 768px) {
    .header__head { 
        font-size: 24px;
        text-align: center;
        line-height: 36px;
        margin-top: 112px;
    }

    .header__paragraph { 
        font-size: 14px;
        width: 296px;
        margin-bottom: 35px;
     }

     .btn {
         font-size: 12px;
         padding: 9px 60px;
     }
} 

@media (max-width: 480px) {
    .btn {
        font-size: 12px;
        line-height: 18px;
        padding: 11px 29px;
    }
}

.design__img {
    margin-top: 170px;
    width: 100%;
}

@media (max-width: 992px) {
    .design__img {
        margin-top:  132px;
    }
}

@media (max-width: 786px) {
  .design__img {
      margin-top: 90px;
  }
}

/* this is info section 
#########################
*/
.info {
 margin-top: 120px;
 margin-bottom: 183px;
}

.info__package {
   display: flex; 
   justify-content: space-between;
   align-items:center;
   padding: 0 66px;
}

.info__box {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.info__icon {
 width: 56px;
 height: 56px;
}

.info__head { 
   font-size: 96px;
   font-weight: bold;
   line-height: 144px;
}


.info__paragraph {
   font-size: 24px;
   line-height: 36px;
   text-align: center;
}

@media (max-width: 992px) {
    .info__head { 
        font-size: 56px;
    }

    .info__paragraph {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .info__package {
        flex-direction: column;
        gap: 88px;
    }

    .info__head { 
        font-size: 53px;
        font-weight: bold;
        line-height: 144px;
     }
     
     
     .info__paragraph {
        font-size: 14px;
        line-height: 36px;
        text-align: center;
     }
    }
/* 
########################
end of info section 

*/

.conversation {
    margin-top: 133px;
    background-color: var(--skyblue);
    margin-bottom: 300px;
}

@media (max-width: 768px) {
    .conversation {
        margin-bottom: 200px;
    }
}

@media (max-width: 480px) {
    .conversation {
        margin-bottom: 150px;
    }
}
.conversation__img {
    width: 50%;

}

.conversation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}


.conversation__head { 
   font-size: 40px;
   font-weight: bold;
   line-height: 60px;
   margin-bottom: 26px;
}

.conversation__paragraph { 
  font-size: 14px;
  line-height: 24px;
}

.conversation__top {
    margin-top: -10%;
    width: 100%;
}

.conversation__bottom {
    margin-bottom: -10%;
    width: 100%;
}

.white--bg {
    background-color: #fff !important;
}

.conversation__img--left {
    order: -1;
}

.conversation__img--right {
    order: 1;
}

.conversation__img--edit { 
    width: 48%;
}


@media (max-width: 768px) { 

    .conversation .container {
        flex-direction: column;
    }

    .conversation__info {
      order: 1;
      text-align: center;
    }

    .conversation__head { 
        font-size: 20px;
     }
     
     .conversation__img {
         width: 100%;
     }
}

.ready {
    margin-bottom: 178px;

}
.ready__head { 
   text-align: center;
   font-size: 40px;
   line-height: 60px;
   font-weight: bold;
   margin-bottom: 42px;

}


@media (max-width: 768px) {
    .ready__head {
        font-size: 24px;
        line-height: 36px;
    }
}

.marge-bg {
    margin-bottom: 300px;
}

.footer { 
    background-color: var(--dark);
    color: #fff;
    position: relative;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
    .footer .container {
        flex-direction: column;
    }
}

.footer__left {
  padding: 70px;
}

@media (max-width: 1200px) {
    .footer__left {
        order: 1;
    }
}

@media (max-width: 480px) {
    .footer__left {
        padding: 20px;
    }
}

.footer__top {
margin-top: -14%;
 width: 100%;
}

.footer__icon img {
    margin-bottom: 24px;
}

.footer__paragraph {
  margin-bottom: 24px;
  width: 340px;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
}



.footer__paragraph2 {
    margin-bottom: 24px;
    width: 340px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 40px;
    font-size: 14px;
  }

  @media (max-width: 480px) {

    .footer__paragraph {
        width: auto;
    }
   .footer__paragraph2 {
       width: auto;
   }
  }

.footer__phone {
    margin-bottom: 24px;
    display: flex; 
    gap: 16px;
}


.footer__email {
    display: flex; 
    gap: 16px; 
    margin-bottom: 80px;

}

.footer__links { /* ul*/
    display: flex;
    gap: 12px;
  
  }
  .footer__links li  {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 32px;
   height: 32px;
   background-color: #fff;
  }
  
  .footer__links li a {
  text-decoration: none;
  }
  .footer__tag { /* icon*/
   font-size: 20px;
   color: var(--black);
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  .face:hover {
    background-color: #1877f2;
    color: #fff;
    }
  
  .twitter:hover {
    background-color: #1da1f2;
    color: #fff;
  }
  
  .youtube:hover {
    background-color: #ff0000;
    color: #fff;
  }

  .instagram:hover {
    background-color: #e6683c;
    color: #fff;
  }

.footer__right {
    padding-bottom: 30px;
    position: relative;
    bottom: 50px;
}

@media (max-width: 768px) {
    .footer__right {
        right: 30px;
        bottom: 5px;
    }
}

@media (max-width: 480px) {
    .footer__right {
        right: auto;
        bottom: 5px;
    }
}

.footer__head {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 16px;
}

.footer__form {
    display: flex;
    gap: 40px;
}


.footer__input {
   width: 320px;
   height: 48px;
   border-radius: 8px;
   display: block;
}

.footer__button {
    font-size: 16px;
    color: #fff;
    background-color: var(--pink);
    padding: 12px 40px;
    border-radius: 8px;
    display: block;
  }

@media (max-width: 768px) {
    .footer__form {
        flex-direction: column;
    }

    .footer__input {
        width: 100%;
    }

    .footer__button {
        width: 50%;
        align-self: flex-end;
    }
}

.footer__input:focus {
    outline: none;
}
